n8n-workflows/3-abandoned-cart-72hr.json
{
  "name": "UV Coated - Abandoned Cart (72hr)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://uvcoatedclubflyers.com/api/marketing/carts/abandoned",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "minHours",
              "value": "72"
            },
            {
              "name": "maxHours",
              "value": "73"
            }
          ]
        },
        "options": {}
      },
      "name": "Fetch 72hr Abandoned Carts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "https://uvcoatedclubflyers.com/api/marketing/coupons/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "PERCENTAGE"
            },
            {
              "name": "value",
              "value": "15"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "campaign",
              "value": "abandoned_cart_final"
            },
            {
              "name": "expiresInDays",
              "value": "7"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate 15% Coupon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "url": "https://uvcoatedclubflyers.com/api/marketing/emails/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "template",
              "value": "abandoned_cart"
            },
            {
              "name": "to",
              "value": "={{ $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].email }}"
            },
            {
              "name": "subject",
              "value": "Last Chance: 15% OFF Your Order! ⏰"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify({\n  customerName: $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].User?.name || 'Valued Customer',\n  items: $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].items,\n  subtotal: $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].subtotal,\n  total: $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].total,\n  cartUrl: 'https://uvcoatedclubflyers.com/checkout?session=' + $node['Fetch 72hr Abandoned Carts'].json.carts[$node['Split Into Batches'].json.index].sessionId,\n  couponCode: $node['Generate 15% Coupon'].json.coupon.code,\n  couponValue: 15,\n  hoursSinceAbandonment: 72\n}) }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Fetch 72hr Abandoned Carts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 72hr Abandoned Carts": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Generate 15% Coupon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 15% Coupon": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Chicago"
  },
  "tags": []
}
